*:focus{
    outline: none;
}
html {


}
@font-face {
    font-family: PixelFont;
    src: url("fonts/retro-land-mayhem.ttf") format("truetype");


}
@font-face {
    font-family: Spotyfich;
    src: url("fonts/Spotifych.ttf") format("truetype");


}


body {
   background: url("https://i.yapx.ru/TwTFy.gif");
    background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
}
h1 {
    margin: 0;
    font-size: 33px;
    color: #fff;
    padding: 0 10%;
}
h3 {
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    color: #ccc;
    padding: 0 10%;
}

.music-player {
    display: block;
    position: relative;
    width: 400px;
    height: 570px;
    margin: auto;
    margin-top: 6%;
    border-radius: 10px 10px 10px 10px;
    background: transparent linear-gradient(to bottom,rgba(10,11,31,0.9) 50%,rgb(10,11,31) 70%) repeat scroll 0 0;
    box-shadow: 1px 10px 20px 5px #222;
}
.cover {
    float: left;
    width: 100%;
    height: 66%;
}
.cover img {
    display: block;
    position: absolute;
    top: 8%;
    left: 14%;
    width: 70%;
    margin: auto;
    text-align: center;
}
.titre {
    float: left;
    width: 100%;
}
.lecteur {
    width: 100%;
    display: block;
    height: auto;
    position: relative;
    float: left;
}
.mejs__button>button:focus {
    outline: 0px dotted #999;
}
.mejs__container {
    position: relative;
    background-color: transparent;
    min-width: auto !important;
}
.mejs__controls {
    padding: 0 10%;
    background: transparent !important;
    display: block;
    position: relative;
}
.mejs__controls div {
    display: block;
    float: left;
    position: relative;
}
.mejs__controls .mejs__playpause-button {
    position: absolute !important;
    right: 45%;
    bottom: 95%;
    width: 40px;
}
.mejs__controls .mejs__playpause-button button {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    font-family: FontAwesome;
    font-size: 23px;
    color: #5bbb95;
    background: transparent;
    padding: 0;
    margin: 0;
}
.mejs__controls .mejs__play button:before{
    content:"\f04b";
}
.mejs__controls .mejs__pause button:before{
    content:"\f04c";
}
.mejs__controls .mejs__volume-button button {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    font-family: FontAwesome;
    font-size: 20px;
    color: #5bbb95;
    background: transparent;
    margin: 0;
    padding: 0;
}
.mejs__controls .mejs__mute button:before {
    content: "\f028";
}
.mejs__controls .mejs__unmute button:before {
    content: "\f026";
}
.mejs__controls .mejs__time {
    width: 100%;
    margin-top: 7%;
    margin-bottom: 3%;
    color: #fff;
    height: auto;
    padding: 0;
    overflow: visible;
    min-width: 100%;
}
.mejs__controls .mejs__time span {
    font-size: 15px;
}
.mejs__controls span.mejs__duration {
    float: right;
    text-align: right;
    color: #ccc;
}
.mejs__controls span.mejs__currenttime {
    font-weight: 700;
    float: left;
}
.mejs__controls .mejs__time-rail {
    width: 100%;
    margin: 0;
}
.mejs__controls .mejs__time-rail span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
    border-radius: 50px;
    cursor: pointer;
}
.mejs__controls .mejs__time-rail .mejs__time-loaded {
    background: rgba(255,255,255,0.2);
}
.mejs__controls .mejs__time-rail .mejs__time-float {
    display: none;
    top: -40px;
    width: 40px;
    height: 25px;
    margin-left: 0px;
    text-align: center;
    font-size: 10px;
    background: #fff;
    border: 0;
}
.mejs__controls .mejs__time-rail .mejs__time-float-current {
    display: block;
    position: relative;
    top: 0;
    margin: 0;
    line-height: 26px;
    color: #100d28;
}
.mejs__controls .mejs__time-rail .mejs__time-float-corner {
    top: auto;
    bottom: -9px;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 6px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.mejs__controls .mejs__time-rail .mejs__time-current {
    background: #5BBB95 none repeat scroll 0 0;
}
.mejs__controls .mejs__time-handle {
    display: none;
}
.mejs__controls .mejs__volume-button {
    position: relative;
    position: absolute !important;
    top: 70px;
    right: 25%;
    width: 40px;
    height: 40px;
}
.mejs__controls .mejs__horizontal-volume-slider {
    display: block;
    position: absolute !important;
    position: relative;
    top: 70px;
    right: 10%;
    width: 60px;
    height: 4px;
    margin-top: 18px;
    border-radius: 50px;
    line-height: 11px;
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-total,
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
    background: #fff;
}
.Personal-form{
    color: white;
    background-size: cover;

    font-size: 40px;
    display: block;
    margin-left: 150px;
    margin-top: 20px;


}
.your-play{
    display: flex;
    justify-content: center;
}
.music-form{
    background-color: #6829cb;
    margin: 40px;
    padding-top: 6px;
    width: 400px;
    height: 50px;


    border-radius: 100px;
    font-size: 20px;

}

.best-streaming{
    text-align: center;
    color: white;
    font-family: "PixelFont", Serif;

}
.playlists{
    margin-right: 650px;

}
.loved{
    color: white;
    font-size: 30px;
    margin-right: 20px;
    font-family: Spotyfich;
}
.register-form{
    color: white;
    background-color: rgba(199, 37, 255, 0.32);;
    width: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
                backdrop-filter: blur(1px);
}
.login-form{

        color: white;
    background-color: rgba(199, 37, 255, 0.32);;
    background-size: cover;
    width: 400px;
    height: 170px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
                backdrop-filter: blur(1px);
}
.New-buttons{
    font-size: 20px;
    margin-left: 50px;
    color: white;

}

.New-Music{
     color: white;
    background-color: rgba(199, 37, 255, 0.32);;
    height: 470px;
    padding-top: 20px;

    width: 550px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(1px);

}
textarea{
    height: 40px;
}
.Edit-music{
color: white;
    background-color: rgba(199, 37, 255, 0.32);;
    height: 520px;

    padding: 20px;
    width: 850px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(1px);
}
.delete-form{
    color: white;
    background-color: rgba(199, 37, 255, 0.32);;
    height: 120px;

    padding: 20px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(1px);
}
.BigText{
    color: white;
    font-family: Spotyfich;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.btn-custom{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
        font-family: Spotyfich;
    margin-left: 15px;

}
.btn-custom1{
    font-family: Spotyfich;
}
.nav-custom{
    font-family: Spotyfich;
    color: white;
}
.form-control{
    margin-top: 10px;
    width: 400px;
}
.form-detail{
    color: white;
    background-color: rgba(199, 37, 255, 0.32);;
    height: 220px;

    padding: 20px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(1px);
}